{{!-- <os arquivos handlebars que estão na pasta layouts
não precisam da estrutura do html ja que essa ficará como principal no 
arquivo main.handlebars> --}}

<h1>Parabéns!</h1>
<p>Você aprendeu a construir layouts no o Handlebars com sucesso.</p>