<form class="form" action="/tasks/add" method="POST">
    <h1>Cadastro de tarefas</h1>
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite sua tarefa...">
    </div>
    <div class="form-control"><button type="submit">Criar</button></div>
    <div class="form-control">
        <label for="description">Descrição</label>
        <textarea  name="description" placeholder="Conteúdo">
    </div>
</form>