<form class="form" action="/products/create" method="POST">
    <h1>Criar Produto</h1>
    <div class="box">
        <label for="name">Nome do Produto</label>
        <input type="text" name="name" placeholder="Digite o nome do produto...">
    </div>
    <div class="box">
        <label for="price">Preço</label>
        <input type="text" name="price" placeholder="Digite o preço do produto...">
    </div>
    
    <input type="submit" value="Cadastrar" class="btn">
    <div class="box">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Descrição do produto...">
    </div>
</form>