<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>MVC</title>
</head>
<body>
    <nav id="nav-bar">
        <h1>Tasks</h1>
        <div>
            <a href="/tasks">Tarefas</a>
            <a href="/tasks/add">Criar Tarefas</a>
        </div>
    </nav>
    <div class="container">
          {{{body}}}
    </div>

</body>
</html>