{{!-- Esse paratials poderá ser reaproveitado
 como um componente por todo o projeto --}}

<h3>{{this.title}}</h3>
<p><b>Categoria: </b>{{this.category}}</p>
<p><b>Conteúdo: </b>{{this.body}}</p>
<p><b>Comentários: </b>{{this.comments}}</p>
<a href="#">Ver Post</a>
<br><br>