{{!-- < os arquivos handlebars que estão na pasta layouts
não precisam da estrutura do html já que essa estrutura ficará
como principal no arquivo main.handlebars > --}}

<h1>Parabéns {{user.name}} {{user.surname}}!</h1>
<p>Você aprendeu a construir layouts e a passar dados
para view no o Handlebars com sucesso.</p>